# OS files
.DS_Store
Thumbs.db

# Obsidian specific
.obsidian/

# Python cache and temporary files
__pycache__/
*.pyc

# Python virtual environment
.venv/

# Local backup archives
*.zip
*.tar.gz

raw/
